# Datatypes

In [2]:
x=100
x

100

In [3]:
print("x")

x

In [7]:
type (x)

int

##### int means Integer, where the number does not have decimals

In [8]:
x=10.96
x

10.96

In [10]:
type (x)

float

##### float means a datatype where the number has decimals.

In [14]:
y="Ashish"
type (y)

str

##### str means String datatype. String data must always be enclosed in inverted commas.

In [5]:
x=true

NameError: name 'true' is not defined

In [8]:
Z=True
type(z)

NameError: name 'z' is not defined

In [9]:
z=False
type(z)

bool

In [11]:
z=True
type(z)

bool

##### bool means 'boolean'
boolean means value that can be true or false

In [13]:
z='true'
type(z)

str

In [14]:
z="true"
type(z)

str

In [15]:
z="True"
type(z)

str

In [16]:
course='business analytics'
course

'business analytics'

In [17]:
course='business analytics'
type(course)

str

In [18]:
type(course),course

(str, 'business analytics')

### Rules for naming the variables

In [20]:
book_names=['Python','Business Analytics']
book_names

['Python', 'Business Analytics']

In [21]:
booknames=['python','ai']
booknames

['python', 'ai']

In [22]:
book-names=['sql','python']
book-names

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (1867328561.py, line 1)

In [23]:
3book_names=['python','ai','BA']
3book_names

SyntaxError: invalid decimal literal (2387494067.py, line 1)

In [24]:
b3ook_names=['python']
b3ook_names

['python']

#### Space is not allowed in Python
#### Only allowed special character is 'underscore _'
#### Variable names should not sart with a number
#### Variables should only start with A-Z, a-z or _

### Data Structures

1. List, 2. Tuple, 3. Sets

### 1. List
##### Elements are seperated by commas{,} and are enclosed by brackets
##### List uses Square brackets [ ]
##### We can retrieve elements using index and index starts from "0"
##### LIST is mutable. i.e, we can make the changes

In [32]:
sample_list=[1,2,3.9,2,"Hey"]

In [35]:
sample_list=[1,2,3.9,2,"Hey","Man"]
sample_list

[1, 2, 3.9, 2, 'Hey', 'Man']

In [20]:
sample_list[0]=1

In [21]:
sample_list

[1, 2, 3.9, 'Hey']

In [17]:
sample_list[0]

90

In [18]:
type(sample_list)

list

In [19]:
sample_list

[90, 2, 3.9, 'Hey']

In [14]:
type[sample_list]

type[[109, 2, 3.9, 'Hey']]

In [7]:
sample_list[0]

1

In [9]:
sample_list=[109,2,3.9,"Hey"]
sample_list

[109, 2, 3.9, 'Hey']

In [10]:
sample_list[2]

3.9

In [11]:
sample_list[0]

109

In [13]:
sample_list[9]

IndexError: list index out of range

In [26]:
sample_tuple=(1,2,3,4,5,"Hello")
sample_tuple

(1, 2, 3, 4, 5, 'Hello')

In [36]:
sample_tuple=(1,2,3,2,2,4,5,"Hello","Gentle Man")
sample_tuple

(1, 2, 3, 2, 2, 4, 5, 'Hello', 'Gentle Man')

In [28]:
type(sample_tuple)

tuple

In [29]:
sample_tuple[0]

1

In [30]:
sample_tuple[9]

IndexError: tuple index out of range

In [31]:
sample_tuple[0]=100

TypeError: 'tuple' object does not support item assignment

### 2. Tuple
##### 'tuple' object does not support item assignment
##### Tuple has paranthesis ()

##### Tuple is not mutable. i.e, it cannot be changed.

### 3. Sets
##### Sets uses flower brackets {}
##### Duplicates are not allowed in sets
##### Data is arranged according to first place in sets
##### cannot access using index
##### Sets are mutable

In [43]:
sample_set={1,2,3.5,4,5.5,10,"Hello","Ashish"}
sample_set

{1, 10, 2, 3.5, 4, 5.5, 'Ashish', 'Hello'}

In [42]:
sample_set[1]

TypeError: 'set' object is not subscriptable

In [46]:
sample_set.add(100)

In [47]:
sample_set

{1, 10, 100, 2, 3.5, 4, 5.5, 'Ashish', 'Hello'}

In [49]:
sample_set.remove("Hello")

In [50]:
sample_set

{1, 10, 100, 2, 3.5, 4, 5.5, 'Ashish'}

### Dictionary
##### It has a Key-Value pair data structure
##### Values can be duplicated
##### Values can be retrieved using  key
##### Keys cannot be retrieved using values

In [2]:
sample_dict={1:"apple",2:"is",3:"the",4:"number",5:"1",6:"smartphone"}
sample_dict

{1: 'apple', 2: 'is', 3: 'the', 4: 'number', 5: '1', 6: 'smartphone'}

In [4]:
sample_dict={1:"apple",2:"1",3:"the",4:"1",5:"1",2:"smartphone"}
sample_dict

{1: 'apple', 2: 'smartphone', 3: 'the', 4: '1', 5: '1'}

Here the key value '2' is repeated thrice. In such cases, the last key is considered.
Whereas, we can see that the value '1' is repeated and does not affect the output. Hence, values can be repeated.

In [5]:
sample_dict[2]

'smartphone'

In [7]:
sample_dict[2]= 100
sample_dict

{1: 'apple', 2: 100, 3: 'the', 4: '1', 5: '1'}